/*section { display: flex; flex-direction: column; align-items: center; }*/
.background { height:100%; }
.community-board { margin: 30px;  display: flex; flex-direction: column; align-items: center; text-align: center; }

.wh150 { width: 150px; height: 150px; }
.profileMod { margin-bottom: 5px; }
.profileMod .profileModBtn { opacity: 0.6; width: 105px; height: 45px; padding: 0; margin: 0 4px; background-color: #fff; border: 1px solid #333; border-radius: 0; cursor:pointer; }
.modal-img { height: 100%; width: 100%; position: fixed; left: 0; top: 0; z-index: 100; background-color: rgba(0, 0, 0, 0.87); }
.modal-img > div { height: 100%; width: 100%; display: flex; justify-content: center; align-items: center; }
.modal-img .container { position: relative; height: 400px; width: 680px; background-color: white; border-radius: 5px; }
.modal-img .container > div.top { height: 33px; }
.modal-img .container #title { text-align: center; padding-top: 5px; padding-bottom: 5px; }
.modal-img .container i { position: absolute; right: 5px; top: 5px; font-size: 25px; color: #5a5959; }
.modal-img .container .profileCont { overflow-y: auto; height: 367px; border-top: #d3d3d3; }
.modal-img .container .profileCont .follow-item { display: flex; padding-left: 8px; padding-right: 8px; margin-top: 7px; }
.modal-img .container .profileCont .follow-item > div { flex-grow: 1; margin-inside: 5px; }

.pwModal-img { height: 100%; width: 100%; position: fixed; left: 0; top: 0; z-index: 100; background-color: rgba(0, 0, 0, 0.87); }
.pwModal-img > div { height: 100%; width: 100%; display: flex; justify-content: center; align-items: center; }
.pwModal-img .container { position: relative; height: 400px; width: 680px; background-color: white; border-radius: 5px; }
.pwModal-img .container > div.top { height: 33px; }
.pwModal-img .container #title { text-align: center; padding-top: 5px; padding-bottom: 5px; }
.pwModal-img .container i { position: absolute; right: 5px; top: 5px; font-size: 25px; color: #5a5959; }
.pwModal-img .container .pwChangeCont { overflow-y: auto; height: 367px; border-top: #d3d3d3; }


.pwChangeCont .pw-box { justify-content: center; align-items: center; position: relative; margin-bottom: 35px; }
/*.pwChangeCont .pw-box .class-cont .class-pw-div { display: flex; justify-content: space-around; }*/
.pwChangeCont .pw-box .class-current-cont { margin: 20px 0px 20px 0px; display: flex; justify-content: space-around; }
.pwChangeCont .pw-box .class-current-cont .class-msg-pw { display: table-cell; vertical-align: middle; }
.pwChangeCont .pw-box .class-current-cont { margin: 20px 0px 20px 0px; display: flex; justify-content: space-around; }
.pwChangeCont .pw-box .class-current-cont .class-msg-pw { display: table-cell; vertical-align: middle; }
.pwChangeCont .class-pw { width: 440px; padding-left: 20px; margin-bottom: 10px; }
.pwChangeCont .class-pw { height: 44px; padding: 0 10px; border: 1px solid #d1d1d1; }

.modal .swiper-container { height: 40vw; width: 90vw; }
.modal .swiper-slide { display: flex; justify-content: center; }

.modal .no-main-profile { font-size: 30px; }

#displayImg { width: 100px; height: 100px; }
#displayImg > img { width: 100px; height: 100px; }

.profileCont { min-height: 400px; padding: 40px 40px 55px; }

.profileCont p{ margin: 10px 0 20px; color: #999; }

.profileCont .profile-box { position: relative; margin-bottom: 35px; }
.profileCont #profile-nickname { width: 440px; padding-left: 20px; margin-bottom: 10px; }
.profileCont #profile-nickname { height: 44px; padding: 0 10px; border: 1px solid #d1d1d1; }
.profileCont .profileImg { float: left; width: 106px; height: 106px; margin: 0 30px 0 10px; overflow: hidden; }
.profileCont .profileImg { background-size: 100% auto; border: 1px solid #e9e9e9; border-radius: 50%; box-sizing: border-box; }
#selectImgArr { position: absolute; left: 82px; top: 70px; width: 34px; height: 34px; background-image: url(https://dszw1qtcnsa5e.cloudfront.net/bin/live/console-community-view/assets/web/pc/btn-edit-profile.png); text-indent: -9999px; }


.profileCont .btnDiv { margin-top: 70px; text-align: center; }
.profileCont .btnDiv > input { opacity: 0.6; width: 105px; height: 45px; padding: 0; margin: 0 4px; background-color: #fff; border: 1px solid #333; border-radius: 0; cursor:pointer; }

.pwChangeCont .btnDiv { margin-top: 70px; text-align: center; }
.pwChangeCont .btnDiv > input { opacity: 0.6; width: 105px; height: 45px; padding: 0; margin: 0 4px; background-color: #fff; border: 1px solid #333; border-radius: 0; cursor:pointer; }

#flexContainer table { width: 300px; }
#FavBoardList { margin-top: 15px;}
#FavBoardList table {width: 800px; border-top: 1px solid black; border-collapse: collapse; text-align: center; margin-bottom: 5px; }
#FavBoardList th { border-bottom: 1px solid black; }