.background { height:100%; }

.videoListDiv { border-bottom: 1px solid #d3d3d3; display: flex; align-content: center; margin-top: 2px; }
.videoImgSpan { width: 100px; height: 60px; }
.viedoLetterSpan { text-align: center; }
