<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.nong4.cmt.BoardCmtMapper">
    <insert id="insCmt">
        INSERT INTO
        t_cmt
        (iuser
        ,iboard
        ,cmt)
        VALUES
        (#{iuser}
        ,#{iboard}
        ,#{cmt})
    </insert>

    <select id="cmtList" resultType="BoardCmtDomain">
        SELECT A.cmt
             , A.icmt
             , A.regdt
             , A.iboard
             , B.nick AS userNick
             , B.iuser
        FROM t_cmt A
        INNER JOIN t_user B
        ON A.iuser = B.iuser
        WHERE A.iboard = #{iboard}
        ORDER BY A.regdt
    </select>

    <update id="updCmt">
        UPDATE t_cmt
        SET cmt = #{cmt}, regdt = now()
        WHERE icmt = #{icmt} AND iuser = #{iuser}
    </update>

    <delete id="delCmt">
        DELETE
        FROM t_cmt
        WHERE icmt = #{icmt} AND iuser = #{iuser}
    </delete>
</mapper>
