<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.nong4.board.BoardMapper">
<!--    <resultMap id="BoardDetailDomainMap" type="BoardDetailDomain">-->
<!--        <result property="iboard" column="iboard"></result>-->
<!--        <collection property="imgList" column="iboard" select="selBoardImgList"></collection>-->
<!--        <collection property="cmtList" column="iboard" select="com.spring.nong4.cmt.BoardCmtMapper.cmtList"></collection>-->
<!--    </resultMap>-->


<!--keyProperty는 insert를 하고 동시에 해당 값이 필요한 경우 사용한다 useGeneratedKeys도 true를 줘야함.-->

    <insert id="boardWrite" useGeneratedKeys="true" keyProperty="iboard">
        INSERT INTO
            t_board
        (title
        ,ctnt
        ,iuser
        ,provider)
        VALUES
        (#{title}
        ,#{ctnt}
        ,#{iuser}
        ,#{provider})
    </insert>

    <insert id="boardWriteImg">
        INSERT INTO t_board_img
        ( iboard
        , img)
        VALUES
        ( #{iboard}
        , #{img}
        )
    </insert>

    <update id="detailHitCount">
        UPDATE t_board
        SET    hitCount = hitCount + 1
        WHERE    iboard = #{iboard}
    </update>

    <update id="boardUpdate">
        UPDATE t_board
        SET    title = #{title}
        ,      ctnt  = #{ctnt}
        WHERE iboard = #{iboard}
    </update>

    <update id="boardDelete">
        UPDATE t_board
        SET    delYN  = 'Y'
        WHERE  iboard = #{iboard};
    </update>

    <select id="mainBoardList" resultType="BoardDomain">
        SELECT A.iboard
             , A.title
             , A.ctnt
             , B.nick AS userNick
             , A.regdt
             , A.provider
             , A.hitCount
        FROM t_board A
        INNER JOIN t_user B
        ON A.iuser = B.iuser
        WHERE 1 = 1
        <if test="param.provider != null and param.provider != ''">
            AND A.provider = #{param.provider}
        </if>
        <if test='scri.searchType == "t"'>
            AND A.title LIKE CONCAT('%',#{scri.keyword},'%')
        </if>
        <if test='scri.searchType == "c"'>
            AND A.ctnt LIKE CONCAT('%',#{scri.keyword},'%')
        </if>
        <if test='scri.searchType == "w"'>
            AND B.nick LIKE CONCAT('%',#{scri.keyword},'%')
        </if>
        <if test='scri.searchType == "tc"'>
            AND A.title LIKE CONCAT('%'+#{scri.keyword}+'%')
            OR   A.ctnt LIKE CONCAT('%',#{scri.keyword},'%')
        </if>
            AND  A.delYN = 'N'
        <if test="scri.perPageNum == 5">
            AND A.regdt BETWEEN DATE_ADD(NOW(), interval -1 WEEK) AND NOW()
            ORDER BY hitCount DESC
        </if>
        <if test="scri.perPageNum != 5">
            ORDER BY A.iboard DESC
        </if>
        LIMIT #{scri.pageStart} , #{scri.perPageNum};
    </select>

    <select id="countBoardList" resultType="Integer">
        SELECT COUNT(*)
        FROM  t_board
        WHERE 1 = 1
        <if test="provider != null and provider != ''">
            AND provider = #{provider}
        </if>
        AND delYN = 'N'
    </select>

    <select id="boardDetail" resultType="BoardDomain">
        SELECT A.iboard
             , A.title
             , A.ctnt
             , A.provider
             , A.regdt
             , A.hitCount
             , B.nick AS userNick
             , B.iuser
        FROM t_board A
        INNER JOIN t_user B
        ON    A.iuser  = B.iuser
        WHERE A.iboard = #{iboard}
    </select>

    <select id="selBoardImgList" resultType="BoardImgEntity">
    SELECT iboardimg
         , iboard
         , img
    FROM t_board_img
    WHERE iboard = #{iboard}
    </select>
</mapper>
