<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.nong4.board.BoardMapper">
    <insert id="freeBoard">
        INSERT INTO
            t_board
            (title
            ,ctnt
            ,iuser)
        VALUES
            (#{title}
            ,#{ctnt}
            ,#{iuser});
    </insert>

    <select id="freeBoardList" resultType="BoardEntity">
    SELECT B.nick AS userNick
         , A.title
         , A.ctnt
         , A.regdt
         , A.iboard
    FROM t_board A
    INNER JOIN t_user B
    ON A.iuser = B.iuser;
    </select>

    <insert id="friendWrite">
        INSERT INTO
            t_board
        (title
        ,ctnt
        ,iuser
        ,provider)
        VALUES
        (#{title}
        ,#{ctnt}
        ,#{iuser}
        ,#{provider});
    </insert>

    <insert id="friendWriteImg">
        INSERT INTO t_board_img
        ( iboard
        , img)
        VALUES
        ( #{iboard}
        , #{img}
        )

    </insert>

    <select id="friendList" resultType="BoardDomain">
        SELECT A.iboard
             , A.title
             , A.ctnt
             , B.nick AS userNick
             , B.regdt
             , A.provider
        FROM t_board A
        INNER JOIN t_user B
        ON A.iuser = B.iuser
        WHERE 1 = 1
        <if test="param.provider != null and param.provider != ''">
            AND A.provider = #{param.provider}
        </if>
        <if test='scri.searchType == "t"'>
            AND A.title LIKE CONCAT('%',#{scri.keyword},'%')
        </if>
        <if test='scri.searchType == "c"'>
            AND A.ctnt LIKE CONCAT('%',#{scri.keyword},'%')
        </if>
        <if test='scri.searchType == "w"'>
            AND B.nick LIKE CONCAT('%',#{scri.keyword},'%')
        </if>
        <if test='scri.searchType == "tc"'>
            AND A.title LIKE CONCAT('%'+#{scri.keyword}+'%')
            OR   A.ctnt LIKE CONCAT('%',#{scri.keyword},'%')
        </if>
        LIMIT #{scri.pageStart} , #{scri.perPageNum}
    </select>
    <select id="countBoardList" resultType="Integer">
        SELECT COUNT(*)
        FROM  t_board
        WHERE provider = #{provider}
    </select>

    <select id="boardDetail" resultType="BoardDomain">
        SELECT A.iboard
             , A.title
             , A.ctnt
             , A.provider
             , B.nick AS userNick
             , B.regdt
             , B.iuser
        FROM t_board A
        INNER JOIN t_user B
        ON A.iuser = B.iuser
        WHERE iboard = #{iboard}
    </select>
</mapper>
