<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.nong4.user.UserMapper">
    <insert id="join">
     INSERT INTO t_user
    (
      email
    , pw
    , nm
    , nick
    , tel
    , authCd
    , provider
    )
    VALUES
    (
       #{email}
     , #{pw}
     , #{nm}
     , #{userNick}
     , #{tel}
     , #{authCd}
     , #{provider}
     )
    </insert>

    <update id="auth">
        UPDATE t_user
        SET authCd = null
        WHERE email = #{email} AND authCd = #{authCd}
    </update>

    <select id="selUser" resultType="UserEntity">
        SELECT *
        FROM t_user
        WHERE email = #{email}
        AND authCd IS NULL
    </select>

    <insert id="insUserProfile">
        INSERT INTO t_user_profile
        (
          iuser
        , profileImg
        )
        VALUES
        (
          #{iuser}
        , #{profileImg}
        )
    </insert>

    <update id="updUserProfile">
        UPDATE t_user
        <trim prefix="SET" suffixOverrides=",">
            profileImg = #{profileImg},
            <if test="userNick != null">
            </if>
        </trim>

        WHERE iuser    = #{iuser}
    </update>

    <update id="updUserProfileNick">
        UPDATE t_user
        SET nick    = #{userNick}
        WHERE iuser = #{iuser}
    </update>

    <select id="selUserProfile" resultType="userEntity">
        SELECT
              iuser
            , email
            , nick AS userNick
            , profileImg
            , tel
            , regdt
        FROM  t_user
        WHERE iuser = ${iuser}
    </select>
</mapper>