<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.nong4.user.UserMapper">
    <insert id="join">
     INSERT INTO t_user
    (
      email
    , pw
    , nm
    , nick
    , tel
    , authCd
    , provider
    )
    VALUES
    (
       #{email}
     , #{pw}
     , #{nm}
     , #{userNick}
     , #{tel}
     , #{authCd}
     , #{provider}
     )
    </insert>

    <update id="auth">
        UPDATE t_user
        SET authCd = null
        WHERE email = #{email} AND authCd = #{authCd}
    </update>

    <select id="selUser" resultType="UserEntity">
        SELECT *
        FROM t_user
        WHERE email = #{email}
        AND authCd IS NULL
    </select>

    <update id="updUserProfile">
        UPDATE t_user
        <set>
<!--            <if test="param.profileImg != null">-->
                profileImg = #{param.profileImg}
<!--            </if>-->
<!--        <if test="userNick != null and userNick != '' ">-->
            , nick = #{userNick}
<!--        </if>-->
        </set>
        WHERE iuser    = #{param.iuser}
<!--        <selectKey order="BEFORE" resultType="String" keyColumn="profileImg" keyProperty="profileImg">-->
<!--            SELECT profileImg FROM t_user WHERE iuser = #{param.iuser}-->
<!--        </selectKey>-->
    </update>

    <select id="selUserProfile" resultType="userEntity">
        SELECT
              iuser
            , email
            , nick AS userNick
            , profileImg
            , tel
            , date_format(regdt, '%Y-%m-%d') AS regdt
            , provider
        FROM  t_user
        WHERE iuser = ${iuser}
    </select>

    <select id="chkOverlap" resultType="userEntity">
        SELECT email
              ,pw
              ,nm
              ,nick AS userNick
              ,tel
        FROM  t_user
        WHERE 1 = 1
        <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(email)">
            AND email = #{email}
        </if>
        <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(userNick)">
            AND nick = #{userNick}
        </if>
        <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(tel)">
            AND tel  = #{tel}
        </if>
    </select>

    <select id="findEmail" resultType="userEntity">
        SELECT email
        FROM   t_user
        WHERE 1 = 1
        AND nm  = #{nm}
        AND tel = #{tel}
    </select>

    <update id="temporaryPw">
        UPDATE t_user
        SET   pw    = #{pw}
        WHERE email = #{email}
    </update>

    <select id="currentPw" resultType="userEntity">
        SELECT pw
        FROM t_user
        WHERE   1 = 1
        AND iuser = #{param.iuser}
    </select>

    <update id="changePw1">
        UPDATE t_user
        SET   pw    = #{pw}
        WHERE iuser = #{iuser}
    </update>

    <select id="nickValid" resultType="userEntity">
        SELECT nick AS userNick
        FROM t_user
        WHERE 1 = 1
        AND nick = #{nick}
    </select>

</mapper>