html, body, dl, dt, dd{ margin: 0; padding: 0;}

section{ padding-top: 50px;}

.pointer { cursor: pointer; }
.hide { display: none !important; }
.modal { z-index: 100; position: fixed; top: 0; left: 0; height: 100%; width: 100%; background-color: rgba(0, 0, 0, 0.87);}
.modal_close_parent { display: flex; justify-content: flex-end; padding: 40px 60px; }
.modal_close { color: white; font-size: 50px; cursor: pointer; }

a { text-decoration: none; color: black;font-family: 'Gamja Flower', cursive; font-weight: 100;  font-size: 24px; letter-spacing: 8px; }
nav { position: fixed; width: 100%; z-index: 10;}
/* z-index 는 우선순위이다 커뮤니티쪽 슬라이드 ajax를 덮기위해 z-index를 쓴다 */
nav ul { display: flex; justify-content: space-around; list-style-type: none; margin: 0; padding: 0; background-color: darkgreen; }
nav ul:after{ content:''; display: block; clear:both; }
nav ul li { float: left; height: 50px;}
nav ul li a { display: block; font-size: 24px; font-family: 'Nanum Gothic', sans-serif; color: white; text-align: center; padding-top: 12px; width: 180px; height: 75%; }
nav ul li a:hover:not(.active) { background-color: forestgreen; }

#container{ position: relative; margin: 0 auto; }
img{ width: inherit; max-width: 100%; height: auto;}

.background { background-image: url("/res/img/background.png"); display: flex;  background-repeat : no-repeat; background-size : cover; }
.background-left { width: 320px; }
.background-center { background-color: white;  display: flex; flex-grow: 1; }
.background-right { width: 320px; }

.search-input{ position: relative; height: 40px; border: 1px solid #333; box-sizing: border-box; margin-right: 10%; margin-left: 10%; margin-bottom: 10px}
.search-txt{ border: 0 solid black; outline: none; width: 70%; height: 100%; font-size: large;}
.fa-search{ position: absolute; overflow: hidden; font-size: 25px; margin-top: 6px;}

.category { border-right: 2px solid #d3d3d3; width: 240px; text-align: center; padding: 30px 20px; }
.category img { border-radius: 10px; height: 100px; width: 100px; }
.category .writeBtn { width: 80%; height: 40px; font-size: 16px; background-color: darkgreen; }
.category .writeBtn i{ color: white;}
.category .cate-event { margin-top: 50px; }
.category .cate-event a { font-size: 20px;}
.category .cate-info { margin-top: 50px; }
.category .cate-info a { font-size: 20px; }
.category .cate-board { margin-top: 50px; }
.category .cate-board a { font-size: 20px; }
.category .title { font-size: 30px; font-weight: bold; }

.community { flex-grow: 1; }
.community-top { border-bottom: 2px solid #d3d3d3; height: 50px; width: 1000px;}
.community-board { margin: 30px; }

