table { width: 100%; border-top: 1px solid black; border-collapse: collapse; text-align: center; margin-top: 10px; }
th { border-bottom: 1px solid black; }
.community-board .pageMaker { text-align: center; margin-top: 10px; }