.background { height:100%; }

.community-board #title { font-size: 30px; padding-top: 10px; }
.community-board .userinfo { margin-top: 20px; border-bottom: 1px solid #d3d3d3; padding-bottom: 15px; }
.community-board .userinfo .detail-userNick { margin-bottom: 5px; }
.community-board #ctnt { margin-top: 20px; padding-top: 10px; }
.community-board .cmt-box { margin-top: 40px; }
.community-board .cmt-box #cmtFrm .cmt-text { resize: none; width: 90%; height: 80px; }
.community-board .cmt-box #cmtFrm .cmt-btn { height: 80px; float: right;}
.community-board #cmtList { margin-top: 15px; }
.community-board #cmtList .cmtListDiv { margin-bottom: 10px; }
.community-board #cmtList .cmtListDiv .cmtRegdt { font-size: 13px; border-bottom: 1px solid #d3d3d3; padding-bottom: 10px; }
.community-board #cmtList .cmtListDiv .cmt { font-size: 20px; }