.api { height: 320px; }
.api .swiper-container { height: 100%; width: 900px; }
.api .swiper-slide { display: flex; justify-content: center; align-items: center; }
.api .swiper-slide img { width: 250px; }

#news-paging-btn { padding-bottom: 5px;}
#news-paging-btn button{ float:right;}

.news { height: 320px; padding: 5px 30px;}
.news-list-detail { position: relative; padding: 10px; border-bottom: 1px solid #d3d3d3; }
.news-title-span{ display: inline;  position:absolute; left:120px;}
.news-regdt-span{ display: inline;  position:absolute; left:80px;}
.news-count-span{ float: right; }

.hotItem { padding: 40px 30px; height: 310px; text-align: center; display: flex; }
.hotItem .hotItemBox { justify-content: center; align-items: center; }
.hotItem .hotItemMore { }
.hotItem .hotItemBox .swiper-container { height: 100%; width: 900px; }
.hotItem .hotItemBox .swiper-slide { display: flex; justify-content: center; align-items: center; }
.hotItem .hotItemBox .swiper-slide img { width: 250px; }

input[type="submit"] { font-family: "Font Awesome 5 Free"; border:none; }