.background { background-image: url("/res/img/main.png"); display: flex;  background-repeat : no-repeat; background-size : cover; }
.background-left { width: 320px; }
.background-center { background-color: white;  display: flex; flex-grow: 1;}
.background-right { width: 320px; }

.search-input{ position: relative; height: 40px; border: 1px solid #333; box-sizing: border-box; margin-right: 10%; margin-left: 10%; margin-bottom: 10px}
.search-txt{ border: 0 solid black; outline: none; width: 70%; height: 100%; font-size: large;}
.fa-search{ position: absolute; overflow: hidden; font-size: 25px; margin-top: 6px;}

.category { border-right: 2px solid #d3d3d3; width: 240px; text-align: center; padding: 30px 20px; }
.category img { border-radius: 10px; height: 100px; width: 100px; }
.category .writeBtn { width: 80%; height: 40px; font-size: 16px; background-color: darkgreen; }
.category .writeBtn i{ color: white;}
.category .cate-event { margin-top: 80px; }
.category .cate-board { margin-top: 100px; }
.category .title { font-size: 30px; font-weight: bold; }

.community { flex-grow: 1; }
.community-top { border-bottom: 2px solid #d3d3d3; height: 50px; }

.level { height: 320px; }
.level .swiper-container { height: 100%; width: 900px; }
.level .swiper-slide { display: flex; justify-content: center; align-items: center; }
.level .swiper-slide img { width: 350px; }

#news-paging-btn { padding-bottom: 5px;}
#news-paging-btn button{ float:right;}

.news { height: 320px; padding: 5px 30px;}
.news-list-detail { position: relative; padding: 10px; border-bottom: 1px solid #d3d3d3; }
.news-regdt-span{ display: inline;  position:absolute; left:150px;}
.news-count-span{ float: right; }

.today-video { padding: 5px 30px; display: flex;  height: 310px; align-items: center; }
.today-video .video-box { flex-grow: 1; }
.today-video .video-box img { border-radius: 10px; height: 250px; }
.today-video .video-cnt { flex-grow: 1; }
.today-video .video-cnt div { padding: 15px;}